<!-- includes/head-custom.html start -->

<script>

/*
 * Not every browser is sane.
 *
 * Lets assure we have String.Prototype.includes
 */
if (!String.prototype.includes) {
  String.prototype.includes = function(search, start) {
    'use strict';
    if (typeof start !== 'number') {
      start = 0;
    }

    if (start + search.length > this.length) {
      return false;
    } else {
      return this.indexOf(search, start) !== -1;
    }
  };
}

/*
 * Add raw code.
 */
var loadCode = function(url, callback, location){
    var scriptTag = document.createElement('script');

    scriptTag.src = url;

    scriptTag.onload = callback;
    scriptTag.onreadystatechange = callback;

    console.log('Injecting script tag: '+ scriptTag.src);

    location.appendChild(scriptTag);
};

/*
 * Add raw code.
 */
var loadScript = function(url, location){
	var scriptTag = document.createElement('script');
	scriptTag.src = url;
	scriptTag.type = "application/javascript";
	scriptTag.defer = true;

	console.log('Injecting script tag: '+ scriptTag.src);

	location.appendChild(scriptTag);
};

/*
 * Initialize MermaidJS by manually adding an event listener.
 *
 * This runs after the script loads and watches for the page to load so it will render.
 */
var initMermaidJS = function() {

	document.addEventListener("DOMContentLoaded", function(event) {
		console.log('DOM fully loaded. Attempting mermaidJS init.');
		
		// Standard Mermaid Init
		mermaid.initialize({
			startOnLoad:true,
			theme: 'dark'
		});

		// The default GH-Pages render pipeline currupts our tags.
		// So we manually look for the 'language-mermaid' currupted tags and render them.
		// If this call is made in the browser in the console it renders,  but this line being here is not making it render
		window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));

		console.log('End attempt at mermaidJS init.');
	});

}

/*
 * Hold my beer and watch this..
 * 	- https://github.com/duaneking
 */
var generatedSource = new XMLSerializer().serializeToString(document);
var mermaidsExist = generatedSource.includes("language-mermaid")

console.log('Mermaids Exist: ' + mermaidsExist);

/*
 * Once again, look for the currupted language-mermaid tags that tell us this client page has been
 * rendered using the broken default GH Pages pipeline that does not respect mermaidJS by default.
 */
if( mermaidsExist ) {
	var head = document.getElementsByTagName('head')[0];

	/*
      * Inject the mermaid library into the DOM and trigger init.
      */
	loadCode('https://unpkg.com/mermaid@9.1.1/dist/mermaid.min.js', initMermaidJS, head);

	/* Test redundant call with new debugging */
	document.addEventListener("DOMContentLoaded", function(event) {
		window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
	});
}



</script>


<!-- includes/head-custom.html end -->